<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adventure of ggu ggu</title>
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        #stage {
            /* position: relative;
            width: 100%;
            height: 300; */
            /* border-color: black; */
            /* border-width: 5; */
            /* border-style: solid; */
            border-bottom: none;
        }

        #linkbox {
            text-align: center;
        }
    </style>
    <link rel="shortcut icon" href="./newggu.png"/>
    <script src="https://unpkg.com/konva@^4.0.3/konva.js"></script>
</head>
<body>
    <div id="stage"></div>
    <div id="linkbox">
        <a href="/scoreboard">실시간 순위 보러가기</a>
    </div>
    <script src="/classggu.js"></script>
</body>
</html>